body {
    background-image: url('https://t3.ftcdn.net/jpg/05/41/09/60/360_F_541096083_KJcorovXUvyIordnevCAaNEIAeHY258R.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #f0f0f0;
}